<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Disposable medical masks</h2>
                <hr class="primary">
                <p>Package: 50pcs/per box</p>
                <p>With our unique design and careful contracture, Goldkey Disposable medical masks can protect you from fluid exposure, different diseases and other dangerous circumstances. Flat, three-layers design helps you easily take on or off your mask, also reduce the obstruction of breathe through.</p>
            </div>
    </div>
</section>
