<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sanitizer Gels</h2>
                <hr class="primary">
                <p>Package: 24pcs/per box | 160pcs/per box</p>
                <p>Goldkey sanitizer gels aims to provide a quick solution to sanitize skins at any time. With 75% alcohol contained, Goldkey sanitizer gels can effectively kill 99.99% of viruses and microorganisms within 5 minutes. No water required, always ready for your health.</p>
            </div>
    </div>
</section>
