<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">KN95 Respirator</h2>
                <hr class="primary">
                <p>Package: 30pcs/per box </p>
                <p>Not all masks are the same. With an FDA & CE approved quality, our KN95 Respirator is the advance option. Featuring a unique fabrication with non-woven fabric and melt blown fabric, which helps you to prevent the splashes or sprays of blood and body fluids within hospitals and laborites.</p>
            </div>
    </div>
</section>
