<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>3rd Street, 1st District, Anyuan New Road Wen Tang, Eastern District, Dongguan city, Guangdong province, China</p>
            </div>
            
        <div class="col-lg-2 col-lg-offset-5 text-center">
            <a href="mailto:aliyah@my-handbags.com">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>aliyah@my-handbags.com</p>
            </a>
        </div>
    </div>
</section>
