<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/KN95/slide7-04KN95口罩副本.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/KN95/slide7-06KN95口罩副本.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/KN95/slide7-08KN95口罩副本.jpg" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
