<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/slide1-02公司介绍.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/slide2-01生产车间.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/slide2-02生产车间.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/slide2-03生产车间.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/slide2-04生产车间.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/slide7-08KN95口罩.jpg" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
