<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/disposablemedicalmask/slide3-01一次性医用口罩副本.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/disposablemedicalmask/slide3-02一次性医用口罩副本.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/disposablemedicalmask/slide3-03一次性医用口罩副本.jpg" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
