<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Products</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">  
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Disposable masks</h3>
                    <p class="text-muted"> Easy on/easy off, comfortable to use.</p>
                    <p class="text-muted"> Three-layers design, protect every breaths.</p>
                    <p class="text-muted"> Low irritation to skin.</p>
                </div>
            </div>
        </div>
    </div>
</section>
